.row {
	margin-right: 0px;
    margin-left: 0px;
    margin: 0px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding: 0%;
}
* {
	margin: 0px;
	padding: 0px;
	font-family:"minion-pro",times,serif;
}

a, a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: #000;
}									
									/* start style for index page */
					/* start style for header */
#header {
	background-image: url(../images/index/18944590_440115466365742_916879102_n.jpg);
	height: 100%;
	background-repeat: no-repeat;
	-moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%;
    background-size: 100%;
}
.fon, .fons {
	background: rgba(255, 255, 255, 0.5);
}
h1 {
	text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
	font-size: 4.3em;
	text-align: right;
	margin: 5% 5.2% 4% 0%;
}
header p {
	text-align: right;
	font-size: 2.8em;
	color: #0A0E4F;
	margin: 0% 7.1% 0% 0%;
}
.btn-head {
	margin: 9% 0% 0% 0%;
}
.btn-header-1 {
	width: 40.1%;
	margin:0% 7.1% 3.8% 7.5%;
	font-size: 2.2em;
	border: 4px solid #0306E5;
	border-radius: 10px;
	background-color: #fff;
	text-align: center;
	color: #231DC5
}
.btn-header-1 span, .btn-header-2 span {
	margin: 0% 18% 0% 14%;
}
.btn-header-2 {
	width: 39.9%;
	border: 4px solid #fff;
	font-size: 2.2em;
	border-radius: 10px;
	background-color: #0000FE;
	text-align: center;
	color: #fff;
}
					/* end style for header */
					/* start style for menu */
.container-for-menu ul li{
	display: inline;
	margin: 0% 1% 0% 3%;
	font-size: 200%;
	background: transparent;
	border-radius: 50%;
	padding: 1% 4% 1% 4%;
	border: 2px solid transparent;
}
.container-for-menu ul a li {
	color: #000;
}
.container-for-menu ul a li:hover {
	color: #fff;
}
.container-for-menu ul {
	width: 100%;
	margin-bottom: 0%;
}
.container-for-menu ul li:hover {
	display: inline;
	font-size: 200%;
	background: #808080;
	border: 2px solid blue;
	border-radius: 50%;
	padding: 1% 4% 1% 4%;
	margin: 0% 1% 0% 3%;
}
.container-for-menu .borders, .borders {
	border-bottom: 4px solid blue;
	margin: 0% 0% 0% 0%;
}
					/* end style for menu */
					/* start style for bloks */
.img-for-blocks {
	width: 92%;
	margin: 0% 0% 0% 7.5%;
}
.block-h2 {
	font-size: 4em;
	color: #312AD5;
	text-align: center;
	margin: 2.7% 0% 2.5% 0%;
	font-weight: bold;
}
.block-desc {
	color: #232266;
	font-size: 2.7em;
}
.block-description {
	font-size: 2.6em;
	line-height: 100%;
}
.for-description {
	width: 20%;
	margin-left: 3.8%;
}
.button-solution div {
	width: 51.4%;
	background: #0000FE;
	color: #fff;
	font-size: 2.9em;
	margin: 3% auto 3% auto;
	text-align: center;
	padding: 1.3% 0% 2% 0%;
	font-weight: bold;
	cursor: pointer;
	border: 3px solid transparent;
}
.button-solution div:hover {
	width: 51.4%;
	background: #fff;
	color: #0000FE;
	font-size: 2.9em;
	margin: 3% auto 3% auto;
	text-align: center;
	padding: 1.3% 0% 2% 0%;
	font-weight: bold;
	cursor: pointer;
	border: 3px solid #0000FE;
}

#success {
	width: 51.4%;
	background: #0000FE;
	color: #fff;
	font-size: 2.9em;
	margin: 3% 0% 11% 23%;
	padding: 1.3% 0% 2% 0%;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	border: 3px solid transparent;
}
#success:hover {
	width: 51.4%;
	background: #fff;
	color: #0000FE;
	font-size: 2.9em;
	margin: 3% 0% 11% 23%;
	padding: 1.3% 0% 2% 0%;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	border: 3px solid #0000FE;
}
input, button, select, textarea {
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid transparent;
    font-size: 1.2em;
    padding-left: 12%;
}
.border {
	float: left;
	width: 16%;
	border-bottom: 2px solid blue;
	margin:0% 2% 0% 2% ;
}
					/* end style for bloks */
					/* start style for footer */
#arrow {
	margin: 15% 0% 0% 19%;
	cursor: pointer;
}
footer ul li {
	display: inline;
	font-size: 180%;
	margin-right: 1.3%;
	font-weight: bold;
}
footer ul li a {
	color: #000;
}
footer ul li a:hover {
	color: #0000FE;
}
footer ul {
	margin-top: 11.5%;
}
footer #img {
	width: 22%;
	float: left;
}
footer #img img{
	width: 70%;
}
#copy {
	font-size: 1.5em;
	font-weight: bold;
}
footer #cont p {
	float: left;
	font-size: 1.4em;
	width: 77%;
	color: #000;
}
#im-1 {
	margin:17% 0% 5% 0%;
}
#im-3 {
	margin:8% 0% 16% 0%;
}

					/* end style for footer */
											/* end style for index page */
											/* start style fot form page */
					/* start style for header */
header .fons h1{
	font-size: 4em;
	margin: 0% 0% 2.6% 0%;
	padding: 5% 4.5% 0% 0%;
}
#backg {
	background-image: url(../images/index/18945190_440646922979263_834867222_n.jpg);
	height: 100%;
	background-repeat: no-repeat;
	-moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%;
    background-size: 100%;
}
					/* start style for header */
					/* start style for form */
#description-form {
	margin: 3.9% 0% 3.3% 0%;
}
#description-form p {
	font-size: 2.3em;
	color: blue;
	text-align: center;
	font-weight: bold;
}


#btn {
	margin-top: 2%;
}

form input, form select {
	width: 100%;
	border: 1px solid #11094D;
}

					/* end style for form */
											/* end style fot form page */
											/* start style for select page */
#img-0 {
	/*background-image: url(../images/index/18947291_440115473032408_1509300145_o.jpg);*/
	/*background-position: center;*/
	margin-bottom: 5%;

}

#category-names {
	position: absolute;
	left: 27%;
	top: 41%;
	bottom: 59%;
	margin: 0%;
}

#img-0, #img-6, #img-7, #img-9 {
	margin-left: 5%;
	height: 285px;
	-moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%;
    background-size: 100%;
    cursor: pointer;
}
.fo img {
	width: 100%;
	height: 100%;
}
.fo img:hover {
	width: 100%;
	height: 100%;
}
.fo {
	height: 285px;
	color: #2115D8;
    background-size: 100%;
    border: 3px solid transparent;
	
}
.fo:hover {
	font-size: 30px;
	height: 285px;
	color: #2115D8;
    background-size: 100%;
    border: 3px solid #2115D8;
	opacity: 0.6;
 	 background: #fff;
	
}
 p {
	font-size: 30px;
	font-weight: bold;
	color: #2115D8;
}
#big:hover {
	padding: 21% 11% 23% 10%;
} 
#big {
	padding: 21% 87% 30% 10%;
} 
#smal {
	padding: 20% 71% 32% 27%;
}
#select-img-r-1, #select-img-r-1 {
	margin: 0% 0% 0% 5%;
} 
#img-2 {
	margin: 4% 0% 4% 0%;
}

											/* end style for select page */
											/* start style for articles page */
#description-articles a {
	width: 54%;
	font-size: 1em;
	font-weight: bold;
	color: #1A1057;
	border-bottom: 2px solid #1A1057;
	margin-left: 6.5%;
}
#description-article, #description-article_1  {
	font-size: 2.2em;
	line-height: 1.1em;
	margin-left: 15.5%;
	color: #000;
}
.img-articles {
	width: 100%;
	margin:0% 5% 0% 5%;
}
#button-articles {
	width: 68%;
	text-align: center;
	color: #fff;
	background-color: #2E3192;
	font-size: 2em;
	font-weight: bold;
	border-radius: 8px;
	margin:12.5% 0% 0% 17.5%;
	border: 3px solid transparent;
}
#button-articles:hover {
	width: 68%;
	text-align: center;
	color: #2E3192;
	background-color: #fff;
	font-size: 2em;
	font-weight: bold;
	border-radius: 8px;
	margin:12.5% 0% 0% 17.5%;
	border: 3px solid #2E3192;
}

#back {
	float: right;
	margin: 3% 6% 1% 0%;
	padding: 1% 1% 1% 1%;
	border-bottom-right-radius: 30%;
	border-top-left-radius: 30%;
	color: #fff;
	font-size: 150%;
	font-weight: bold;
	background-color: #0202ff;
	border: 3px solid transparent;

}
#back:hover {
	float: right;
	margin: 3% 6% 1% 0%;
	padding: 1% 1% 1% 1%;
	border-bottom-right-radius: 30%;
	border-top-left-radius: 30%;
	color: #0202ff;
	font-size: 150%;
	font-weight: bold;
	background-color: #fff;
	border: 3px solid #0202ff;

}
#button-articles, .img-articles {
	margin-bottom: 11%;
}
#arrow-l {
	padding-left: 7%;
}
#arrow-r{
	padding-left: 32.5%;
}
#arrow-r span, #arrow-l span {
	margin: 0% 1% 0% 1%;
	font-size: 1.8em;
}
#pagination {
	display: none;
}
											/* end style for articles page */
											/* start style for contacts page */
#about-us {
	background-color: #ACADFF;
	margin: 5.2% 0% 1.5% 7.5%;
	border-radius: 10px;
	padding: 2% 0% 1.7% 3.7%;
}
#about-us p {
	margin: 0%;
	color: #010157;
}
.about-us-desc {
	font-size: 2em;
	line-height: 98%;
}
#about-us-img {
	width: 95%;
}
#description-abuot-us {
	text-align: center;
	padding-bottom: 1%;
	text-decoration: underline;
	color: #080BF6;
	font-size: 2em;
	font-weight: bold;
}
#map {
	margin: 0% 4% 0% 0%;
}
#contact {
	font-size: 2em;
	margin: 6.4% 0% 0% 0%;
}
#tel ul {
	width: 80%;
}
.con {
	color: #0171C7;
	font-weight: bold;
}
#address, #tel, #mail, #time {
	margin: 0% 0% 6% 0%;
}

#contact-form input {
	margin-bottom: 0%;
}
											/* end style for contacts page */
											/* start style for article */
#description-article_0 {
	width: 54%;
	font-size: 2.7em;
	font-weight: bold;
	color: #1A1057;
	margin: 2% 0% 3% 22%;
}

#container-img {
	width: 40%;
	float: left;
	margin:0% 3% 0% 6%;
}
	
#img-article {
	width: 100%;
}
#row-article {
	padding: 0% 5% 0% 5%;
}
#description-article_1  {
	font-size: 2.2em;
	line-height: 1.1em;
	margin:0% 6% 0% 6%;
}
.section-article {
	margin: 3% 0% 0% 6%;
	font-size: 1.8em;
	font-weight: bold;
}
.section-article {
	color: #000;
}
.blue-section-article {
	color: blue;
	
}
											/* end style for article */